.mypy_cache
.tmp/
.tool-versions
.vscode/
*.dump
*.pyc
/.dockerignore
/.editorconfig
/.env
/.git
/.gitignore
/.nova
/.pre-commit-config.yaml
/.python-version
/compose.yaml
/docker.env
/Dockerfile
/Makefile
/pg_dump
/pyrightconfig.json
/README.markdown
