appnope  # required for macOS compatibility.
celery-types
celery[redis]
dj-database-url
django
django-cors-headers
django-csp
django-enforce-host
django-linear-migrations
django-permissions-policy
django-rich
django-stubs
django-stubs-ext
gunicorn
hiredis
icecream
ipython
model_bakery
mypy
ollama
pip-tools
pre-commit
psycopg[binary]
pyenchant
pytest
pytest-django
pytest-dotenv
pytest-env
pytest-xdist
python-dotenv
redis
requests
sentry-sdk
types-redis
types-requests
